mixin headMeta(title, description, pathPrefix)
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  title=title
  meta(name="description" content=description)
  link(rel="shortcut icon" href=`${pathPrefix}assets/img/ghaas-icon-16.png`)
  link(rel="apple-touch-icon" href=`${pathPrefix}assets/img/ghaas-icon-57.png`)
  link(rel="apple-touch-icon" sizes="72x72" href=`${pathPrefix}assets/img/ghaas-icon-72.png`)
  link(rel="apple-touch-icon" sizes="114x114" href=`${pathPrefix}assets/img/ghaas-icon-114.png`)
  meta(name="image" content="https://ghaas.xyz/assets/img/ghaas-meta.jpg")
  // Schema.org for Google
  meta(itemprop="name" content=title)
  meta(itemprop="description" content=description)
  meta(itemprop="image" content="https://ghaas.xyz/assets/img/ghaas-meta.jpg")
  // Twitter
  meta(name="twitter:card" content="summary")
  meta(name="twitter:title" content=title)
  meta(name="twitter:description" content=description)
  meta(name="twitter:site" content="@ghaas_agency")
  meta(name="twitter:image:src" content="https://ghaas.xyz/assets/img/ghaas-meta.jpg")
  // Open Graph general (Facebook, Pinterest & Google+)
  meta(property="og:title" content=title)
  meta(property="og:description" content=description)
  meta(property="og:url" content="http://ghaas.xyz")
  meta(property="og:site_name" content=title)
  meta(property="og:type" content="website")
  meta(property="og:image" content="https://ghaas.xyz/assets/img/ghaas-meta.jpg")